* {
    background: fixed white;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 700px;
}
.box1 {
    box-sizing: border-box;
    margin: 12px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(0, 0, 0, 0.13);
    width: 350px;
    height: 412px;
    justify-content: center;
    align-items: center;
}
.upper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 175px;
    margin:40px;
}
.labels{
    border: none;
    border-bottom: 2px; 
    /* box-sizing: content-box; */
    border: 0.5px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    width:265px ;
    height:35px ;
    margin:8px ;
    background: #F3F5F7;
}
.labels input {
    
    /* height:35px ; */
    /* width: 100%; */
    height:35px ;
    width: 257px ;
    /* padding: 5px; */
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: start;
}
::placeholder{
    font-size: 12px;
    padding: 3px;
}
.login{
     height:35px;
     width: 265px;
     border-radius: 5px;
     background: #808DFB;
     border: none;
     color: white;
     font-family: Segoe UI - 400;
     font-size: 14px;
     font-weight: 600;
     /* font-style: bold; */
     transition: all 1s;

}
.login:hover {
    background-color: rgb(32, 32, 228);
    cursor: pointer;
}
.or-divider {
    display: flex;
    align-items: center;
    width: 265px; /* match .labels/.login width */
    margin: 20px auto; /* center horizontally */
    padding: 0;
    font-family: Segoe UI;
    color: #777;
    font-weight: 500;
    font-size: 17px;
}

.or-divider::before,
.or-divider::after {
    content: "";
    width: 260px;
    flex: 1 ;
    max-width: 200px;
    height: 0.9px;
    background: #ccc;
}

.or-divider span {
    padding: 0 12px;
}


.labl-fb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    padding: 10px;
    height: auto;
    color: #17A3FB;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
}
.labl-fb img{
    /* width: ; */
        object-fit: cover;
    /* border-radius: 50%; */
    width: 20px;
    height: 20px;
}
.forgot-pw{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 265px;
    padding: 10px;
    height: auto;
    /* color: #17A3FB; */
    font-family: Segoe UI;
    font-size: 17px;
    font-weight: 500;
    gap: 8px;
    cursor: pointer;
    /* transition: all 1s; */
}
/* .forgot-pw:hover{
    font-style: underline;
} */
.lowerp2{
    border: 0.5px solid rgba(0, 0, 0, 0.13);
    box-sizing: border-box;
    height: 60px;
    width: 350px;
    font-family: Segoe UI;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-direction: row;
    gap: 5px;
}
.signup{
    margin: 0;
    font-family: Segoe UI;
    gap: 5px;
    color: #4150F7;
    font-size: 14.5px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
}
footer{
    box-sizing: border-box;
    height: 85px;
    width: 1095;
    margin-bottom: 55px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
footer .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    text-align: center;
}
footer .links a{
    color: #737373;
    text-decoration: none;
    font-size: 14px;
    font-family: Segoe UI;
}
footer .end{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    color: #737373;
    text-align: center;
}